body {
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.advantages .article_list {
  text-align: center;
  list-style: georgian inside url(./assets/checkmark.svg);
}

.rank li {
  display: flex;
}
